@font-face
	font-family 'Elina'
	src url('../../fonts/Elina.woff2') format('woff2')

@font-face
	font-family 'HelveticaNeueCyr-Light'
	src url('../../fonts/HelveticaNeueCyr-Light.woff2') format('woff2')

@font-face
	font-family 'HelveticaNeueCyr-Medium'
	src url('../../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2')

@font-face
	font-family 'HelveticaNeueCyr-Roman'
	src url('../../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2')