$ff-Elina = 'Elina', sans-serif
$ff-HelveticaNeueCyr-Light = 'HelveticaNeueCyr-Light', sans-serif
$ff-HelveticaNeueCyr-Medium = 'HelveticaNeueCyr-Medium', sans-serif
$ff-HelveticaNeueCyr-Roman = 'HelveticaNeueCyr-Roman', sans-serif

$c-black = #000000
$c-white = #FAFAFC
$c-blue = #06205C
$c-yellow = linear-gradient(90.00deg, rgb(140, 94, 34),rgb(227, 176, 119),rgb(140, 94, 34),rgb(234, 182, 125),rgb(140, 94, 34));